
#title {
    text-align: center;
}

.fighterimg { 
    width: 100%;
}

#hotdog,#howie,#stinky,#organ {
    border: black 2px solid;
    text-align: center;
}


#selecthotdog,#selecthowie,#selectstinky,#selectorgan {
    border: black 2px solid;
    text-align: center;
    background-color: grey;
    
}

#enemyhotdog,#enemyhowie,#enemystinky,#enemyorgan {
    border: black 2px solid;
    text-align: center;
    background-color: red;
}

#defendhotdog,#defendhowie,#defendstinky,#defendorgan {
    border: black 2px solid;
    text-align: center;
    background-color: black;
    color: white;
}


