
#title {
    text-align: center;
}


.character {
    border: black 2px solid;
    text-align: center;
    padding-bottom: 20px;
}
img {
    width: 100%;
}

.chosen {
    background-color: grey;
}

.enemy {
    background-color: red;
}
.defender {
    background-color: black;
    color: white;
}
